body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bgWrapper{
  height: 100vh;
  position: relative;
}
.bgImage{
  height: 100%;
  width: 100%;
}
.bgText{
  position: absolute;
  bottom: 40%;
  left: 30%;
  background: white;
  padding: 2%;
 
}

@media only screen and (max-width: 600px) {
  .bgWrapper{
    height: auto;
    position: relative;
    margin-top: 3%;
  }
  .bgImage{
    height: 100%;
    width: 100%;
  }
  .bgText{
   
    bottom: 40%;
    left: 2%;
    background: white;
    padding: 2%;
   
  }
}
